<div class="card card-primary col-md-10 offset-md-1">
    <div class="card-header col-md-12">
      <h3 class="card-title">Añadir Empleado</h3>
    </div>

    <form method="POST" action="/guardar">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Empleado</label>
          <input type="text" name="nombre" placeholder="Introduzca el nombre del empleado" class="form-control" id="exampleInputEmail1" required>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail3">Fecha de contratación</label>
            <input type="date" name="fechaContratacion" placeholder="Introduzca la fecha en que fue contratado el empleado" class="form-control" id="exampleInputEmail3" required max="<%= new Date().toISOString().split('T')[0] %>">
          </div>

          <label for="exampleInputEmail3">Salario</label>
          <input type="number" name="salario" placeholder="Introduzca el salario" class="form-control" id="exampleInputEmail3" 
             
                 required min="1">
          <div class="form-group">
            <label for="exampleInputEmail3">Horas trabajadas</label>
            <input type="number" name="horasTrabajadas" placeholder="Introduzca las horas trabajadass" class="form-control" id="exampleInputEmail3" required min="1">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail3">Departamento</label>
            <input type="text" name="departamento" placeholder="Introduzca el departamento donde se desenvuelve" class="form-control" id="exampleInputEmail3" required>
          </div>

      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
</div>
<table class="table table-striped projects col-md-10 offset-md-1 mt-4 "  >
    <thead >
        <tr>
            <th style="width: 1%">
                #
            </th>

            <th style="width: 20%">
                Nombre         
            </th>
            <th style="width: 20%">
                Fecha De Contratacion
            </th>
            <th style="width: 20%">
                Salario
            </th>
            <th style="width: 20%">
               Horas Trabajadas
            </th>
            <th style="width: 20%">
                Departamento
            </th>
            <th style="width: 20%">
              Pagar
            </th>
        </tr>
    </thead>
    <tbody>
      <% result.forEach((empleado)=>{%>
        <tr>
            <td> <%=empleado.id%> </td>

            <td> <%=empleado.nombre%> </td>

            <td>
              <% const fechaContratacion = new Date(empleado.fechaContratacion); %>
              <%= fechaContratacion.toLocaleDateString('es-ES', {day: 'numeric',month: 'numeric', year: 'numeric',   }) %>
             </td>
            
             <td> <%=empleado.salario%> </td>

             <td> <%=empleado.horasTrabajadas%> </td>

             <td>
              <%=empleado.departamento%>
             </td>
              <td>
                <form method="post" action="/pagar/<%= empleado.id %>">
                  <button type="submit">Pagar</button>
              </form>
              </td>
        </tr>
  
  <%})%>
    </tbody>
  </table>
  <div class="row mb-3">
    <div class="col-md-10 offset-md-1">
        <form  action="">
            <div class="input-group">
                <input name="buscar" type="text" class="form-control form-control-lg" placeholder="Se busca por Departamento">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-lg btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
  </div>
      